.SearchBox {

 width: 25%;
 padding: 10px;
 margin: 50px;
 border-color:  gray;
}

.TopSearch{
  float: left;
}

input  type {
   width: 100%;
}

/*#hr {
border-top: 3px solid black;
width: 90%;
}*/



.container div {
 height: 250px;
 width: 20%;
 border: 2px solid black;
 margin-top:  50px;
 margin-left: 30px;
 display: flex;
align-items: center;
float: left;
display: inline-block;
}
